/*
#CDB4DB
#FFC8DD
#FFAFCC
#BDE0FE
#A2D2FF
*/

html{
    margin: 0;
}
* {
    box-sizing: border-box;
    font: 1em sans-serif;
}
#page-container {
    position: relative;
    min-height: 100vh;
    margin: 0px;
    background-color: #CDB4DB;
}
#header {
    display: flex;
    height: 5rem;
    background-color: #FFC8DD;
    box-shadow: 0 0 5px 5px #9f8daa;
}
.playerOne {
    height: 100%;
    width: 40%;
    text-align: right;
    font-size: 2rem;
}
#versus {
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 2rem;
}
.playerTwo {
    height: 100%;
    width: 40%;
    text-align: left;
    font-size: 2rem;
}

#content-wrap {
    padding-top: 5rem;
    padding-bottom: 2.5rem;
}
#game-container {
    display: block;
    margin: auto;
    height: 500px;
    width: 500px;
}
#tictactoe-game {
    display: grid;
    height: 90%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
}
.square {
    display: block;
    overflow: hidden;
    font-size: 8rem;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

#square0, #square1, #square2 {
    border-bottom: 5px solid #FFC8DD;
}
#square0, #square3, #square6 {
    border-right: 5px solid #FFC8DD;
}
#square2, #square5, #square8 {
    border-left: 5px solid #FFC8DD;
}
#square6, #square7, #square8 {
    border-top: 5px solid #FFC8DD;
}
.empty:hover {
    background-color:#b39dc0;
}
.full:hover {
    cursor: not-allowed;
}
#buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
}
.button {
    margin: 10px;
    padding: 15px 20px 15px 20px;
    border-radius: 15px;
    background-color: #A2D2FF;
    border: 4px groove #81a7ca;
    cursor: pointer;
}

.button:hover {
    background-color: #799bbb;
}
.button:active {
    transform: translateY(3px);
}
#footer {
    background-color: #FFC8DD;
    color: #CDB4DB;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    z-index: 0;
    box-shadow: 0 -5px 5px 5px #9f8daa;
}
.winAlert {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #a77e8e;
    opacity: 95%;
    z-index: 1;
}
.invisible {
    visibility: hidden;
}
.nameInputs {
    display: flex;
    padding: 20px;
    margin-top: 10%;
}
.playerInput {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#winMessage {
    font-size: 3rem;
}
#gitHubLink {
    color:#CDB4DB    ;
}
#gitHubLink.visited {
    color:#CDB4DB;
}