/*
#CDB4DB
#FFC8DD
#FFAFCC
#BDE0FE
#A2D2FF
*/


html {
    margin: 0;
}
body {
    margin: 0;
}
#page-container {
    position: relative;
    min-height: 100vh;
    margin: 0px;
    background-color: #CDB4DB;
}
#header {
    height: 5rem;
    background-color: #FFC8DD;
}
#content-wrap {
    padding-top: 5rem;
    padding-bottom: 2.5rem;
}
#game-container {
    border: 1px solid black;
    display: block;
    margin: auto;
    height: 500px;
    width: 500px;
}
#tictactoe-game {
    display: grid;
    border: 1px solid black;
    height: 90%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
}
.square {
    display: block;
    overflow: hidden;
    background-color: #FFC8DD;
    border: 1px solid black;
    font-size: 8rem;
    align-items: center;
    text-align: center;
}
#footer {
    background-color: #FFC8DD;
    color: #CDB4DB;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
#gitHubLink {
    color:#CDB4DB    ;
}
#gitHubLink.visited {
    color:#CDB4DB;
}