/*
#CDB4DB
#FFC8DD
#FFAFCC
#BDE0FE
#A2D2FF
*/


html {
    margin: 0;
}
body {
    margin: 0;
}
* {
    box-sizing: border-box;
}
#page-container {
    position: relative;
    min-height: 100vh;
    margin: 0px;
    background-color: #CDB4DB;
}
#header {
    height: 5rem;
    background-color: #FFC8DD;
}
#content-wrap {
    padding-top: 5rem;
    padding-bottom: 2.5rem;
}
#game-container {
    display: block;
    margin: auto;
    height: 500px;
    width: 500px;
}
#tictactoe-game {
    display: grid;
    height: 90%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
}
.square {
    display: block;
    overflow: hidden;
    font-size: 8rem;
    align-items: center;
    text-align: center;
}

#square0, #square1, #square2 {
    border-bottom: 5px solid #FFC8DD;
}
#square0, #square3, #square6 {
    border-right: 5px solid #FFC8DD;
}
#square2, #square5, #square8 {
    border-left: 5px solid #FFC8DD;
}
#square6, #square7, #square8 {
    border-top: 5px solid #FFC8DD;
}

#footer {
    background-color: #FFC8DD;
    color: #CDB4DB;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
#gitHubLink {
    color:#CDB4DB    ;
}
#gitHubLink.visited {
    color:#CDB4DB;
}